$light_pink: #ffa56d;
$pink: #ff867a;
$dark_pink: #e8637d;
$darkest_pink: #c9425c;

$light_blue: #2bc2ff;
$blue: #0d8abd;
$dark_blue: #576399;

$lightest_green: #b7fe78;
$light_green: #0dbd90;
$green: #14a2a6;
$dark_green: #047055;
$darkest_green: #266466;

$light_yellow: #edff93;
$yellow: #fef76b;
$dark_yellow: #ffe552;
